.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1{
        font-size: 70px;
        color: rgb(255, 255, 255);
        padding-bottom: 300px;
        z-index: 3;
    }

    .mountains{
        background-image: url("/mountain-background3.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }
    .planets{
        background-image: url("/moongood2.png");
        background-size: cover;
        background-position: bottom;
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 2;
        top: 100px;
    }
    .stars{
        background-image: url("/night-sky.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}