@import "../../app.scss";

.portfolio{
    position: relative;
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 30px;
        padding-bottom: 5px;
        text-align: center;
        color: #7d7d7d;
        font-size: 15px;
        background-color: #f0f0f0;
        z-index: 1;

        @include mobile {
            font-size: 10px;
        }

        h1{
        font-family: "Source Code Pro", monospace;
        padding-bottom: 40px;
        }
        

        .progressBar{
            height: 5px;
            background-color:#000000;

        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            @include mobile {
                flex-direction: column;
            }

            .imageContainer{
                flex:1;
                height: 50%;

                @include mobile {
                    width: 100%;
                    max-height: 300px;
                }

                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include mobile {
                        padding-top: 100px;
                    }
                }
            }
            
            .textContainer{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                @include mobile {
                    transform: none !important;
                    padding: 10px;
                    align-content: center;
                    text-align: center;
                }

                h2{
                    font-size: 72px;

                    @include mobile {
                        font-size: 50px;
                    }
                }

                p{
                    color: gray;
                    font-size: 20px;

                    @include mobile {
                        font-size: 15px;
                    }
                }

                button{
                    padding: 12px;
                    border: 2px solid rgb(255, 255, 255);
                    background-color: transparent;
                    color: blue;
                    border-color: blue;
                    border-radius: 25px;
                    width: 130px;
                    cursor: pointer;
                    font-weight: 600;
                    letter-spacing: 1px;
                    box-shadow: 
                    1px 1px 0 rgba(254, 254, 254, 0.5),
                    2px 2px 0 rgba(189, 189, 189, 0.5),;

                }
                button:hover{
                    background-color: blue;
                    color: white;
                    border-color: blue;  
                }
            }
        }
    }
}