.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f0f0f0;
        height: 100%;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;
        }

        img {
            width: 30px;
            height: 30px;
        }

        .github-logo {
            width: 28px;
            height: 28px;
        }
    }
}

